.App-logo {
    height: 50px;
	margin: 10px;
}

.App-logo:hover {
    animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-header {
    text-align: center;
    background-color: #222;
    padding: 5px 5px;
    color: white;
}

.App-header h3 {
	margin: 5px
}

#App-main-nav {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}

#App-main-nav li {
    display: inline;
}

#App-main-nav a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 20px 15px 0 15px;
}

#App-main-nav a:hover{
    color: #58c0dc;
}

#App-main-nav .active{
	color: #58c0dc;
}

.header-social-icons {
	margin-top: 10px;
	}
	
.header-social-icons img {
	max-height: 35px;
	margin: 10px 5px;
	border-radius: 2px
	}
	
.header-social-icons img:hover {
	opacity: 0.8;
	}	
	


